opengui==0.8.8
relations-dil @ git+https://github.com/relations-dil/python-relations@aa309087789d4b7ed459676c4343f61bb95a4af5
Werkzeug==2.1.2
flask==2.1.2
flask-restx==0.5.1
jsonschema==4.17.3
MarkupSafe==2.1.5
click==8.1.8
ptvsd==4.3.2
coverage==5.2.1
pylint==2.5.3
